*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    position: fixed;
    top:0px;
    width: 100%;
}
header ol{
    display: flex;
    list-style-type: none;
}
header li{
    padding: 5px 15px;
    text-transform: uppercase;
    color: white;
    transition-duration: 1s;
}
header li a{
    color: inherit;
}
header li:hover{
    color: black;
    background: white;
}
#accueil{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../imgs/moon.jpeg);
    background-size: cover;
    color: white;
    background-color: rgba(0, 0, 0, 0.392);
    background-blend-mode: darken;
}
#accueil h2{
    font-size: 4em;
}
#accueil p{
    padding: 10px 40px;
}
#section2{
    padding: 10px 20px;
    padding-top: 80px;
}
#section2>div{
    display: flex;
    flex-direction: column;
}
#section2 article{
  width: 33.33%;
  border: 1px solid black;
    
}
#section2 article h3{
    background-color: black;
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}
#section2 h2{
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}
#section2 article p{
    padding: 5px;
    text-align: justify;
}
#section2 article:nth-child(2){
    align-self: center;  
  }
  #section2 article:nth-child(3){
    align-self: flex-end;  
  }
.up{
    display: none;
}
@media screen and (max-width:640px) {
    .up{
        display: block;
        position: fixed;
        bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 20px;
        background: white;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        color: black;
        border:1px solid black;
    }
    header{
        flex-direction: column;
        position: static;
    }
    header nav{
        margin-top: 20px;
    }
}
@media screen and (max-width:370px) {
    header ol{
        flex-direction: column;
    }
    header li{
        margin-top: 10px;
    }
}
@media screen and (max-width:520px) {
    #section2>div{
        align-items: center;
    }
    #section2 article{
        width: 80%;
        margin-top: 20px;
    }
    #section2 article:nth-child(2){
        align-self: unset;  
      }
      #section2 article:nth-child(3){
        align-self: unset;  
      }
}